<h1>Hi travellers{{currentUser.userName}}!</h1>
<p>Welcome to ticket booking page</p>
<form [formGroup]="booking" (ngSubmit)="onSubmit()">

<div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Book Ticket
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
</div>
<div *ngIf="users">
    <fieldset>
        <legend>List of Users</legend>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.id}}</td>
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.salary | currency : "INR"}}</td>
                    <td>{{u.dob | age}}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
</form>